<% @links.each do |link| %>
  div.link row <clearfix>
    <h2>
      <%= link_to link.title %><br>
    </h2>
    <small class="author">Submitted <%= time_ago_in_words(link.created_at) %>link.user.email</small>
  </clearfix>
<% end %>
